DirectoryIndex index.php
AddDefaultCharset UTF-8

RewriteBase /
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^(.*)\.less$ index.php 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L,QSA]
RewriteRule ^database(.*)$ index.php [R=404,L]